/* Adapted from Uiverse.io by AHMED-MIT - quick-dragonfly-5 */

.galaxy-loader-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60px;
    height: 60px;
}

.galaxy-loader-container.small {
    width: 30px;
    height: 30px;
}

.galaxy-loader-container.large {
    width: 120px;
    height: 120px;
}

.galaxy-spinner {
    position: absolute;
    width: 15%;
    height: 15%;
}

.galaxy-spinner div {
    position: absolute;
    width: 50%;
    height: 150%;
    background: var(--loader-color, #9333ea);
    transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
    animation: galaxy-spinner-anim 1s calc(var(--delay) * 1s) infinite ease;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--loader-color, #9333ea);
}

@keyframes galaxy-spinner-anim {

    0%,
    10%,
    20%,
    30%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 1%));
        opacity: 1;
    }

    50% {
        transform: rotate(calc(var(--rotation) * 1deg)) translate(0, calc(var(--translation) * 2%));
        opacity: 0.5;
        background: #f43f5e;
        /* Pulse to secondary color */
    }
}